// Will override Bootstrap vars here when converted to a full SASS implementation
$bg: #3891A6;
$danger: #B80C09;
$primary: #67597A;
$secondary: #7D869C;
$btn-shadow: 0 0 0 0.2rem rgba(103, 89, 122, 0.35);